<a data-title="{{urlTitle}}" href="#" class="showPreview">
    {{#if thumb}}
        <img class="showPreviewThumb" src="{{thumb}}" />
    {{/if}}
    <i>{{formattedDate}}</i> {{{title}}}
    {{greeting}}
</a>