<h2>Editing {{title}}</h2>
<p>
    <a href="#" id="showBtn">Back To Show "{{title}}"</a> |
    <a href="#" id="showsBtn">All dudes</a>
</p>

<hr>

<form id="showForm" enctype="multipart/form-data">
    Title: <input type="text" name="title" id="dudeInput" value="{{title}}" required/>
    <br>
    Summary: <input type="text" name="summary" id="greetingInput" value="{{summary}}" required />
    <br>
    <div id="inlineDatePicker"></div>
    <input type="hidden" name="date" id="dateInput" value={{URLdate}} />
    <br>
    Time Info: <input type="text" name="timeInfo" placeholder="8:00 pm" value="{{timeInfo}}"/>
    <textarea id="descriptionInput" name="description" form="showForm" placeholder="description">
        {{description}}
    </textarea>
    <br>
{{!--     <input type="file" name="photo" id="photoInput" />
 --}}    <br>


     <h3>Main Photo</h3>


    <div id="displayImage">
        <img id="photoPreview" src="{{photo}}" width="300">
    </div>

    <div id="photoInputContainer" class="form-element">
        Edit Photo: <input id="photoInput" class="fileupload" type="file" name="photo">
    </div>

    <div class="form-sep">
    </div>

    <h3>Thumb</h3>

    <div id="displayThumb">
        <img id="thumbPreview" src="{{thumb}}" />
    </div>

    Edit Thumb:<input id="thumbInput" class="thumbupload" type="file" name="thumb">
    <br>
    <input class="btn" type="submit" value="Submit" name="submit" id="upload_btn">
</form>



<div id="newShowPhotoFormContainer">
<p>

    <h2>Add Photo</h2>
    <form id="newShowPhotoForm" enctype="multipart/form-data">
        <br><input id="showPhotoInput" class="fileupload" type="file" name="photo" />
        <br>
        <div id="displayShowPhoto">
            <img id="showPhotoPreview" src="/images/placeholder.jpg" width="300">
        </div>
        Caption: <input type="text" name="caption">
        <br>
        <input class="btn" type="submit" value="Save New Photo" id="upload_sub_photo" />
    </form>
</p>
</div>


<p>
    <a href="#" id="deleteShowBtn">DELETE SHOW</a>
</p>

