<div id="show_container">
    {{#if title}}
        <a href="#" class="currentShow" data-title="{{urlTitle}}"><img id="currentShowPhoto" src="{{photo}}"></a>
        <a href="#" class="currentShow title" id="currentShowTitle" data-title="{{urlTitle}}">{{{title}}}</a>
        <p id="showSummary">{{{summary}}}</p>
        <p class="showDate">{{{showDate}}}</p>
    {{else}}
        no title??
    {{/if}}
</div>








