<div id="show_container">
    {{#if title}}
        <img id="mainShowPhoto" src="{{photo}}">
        <h2>{{title}}</h2>
        <p id="showSummary">{{summary}}</p>
        <p class="showDate">{{showDate}}</p>
    {{else}}
        no title??
    {{/if}}
</div>








