<div id="show_container">
    {{#if title}}
        <img id="mainShowPhoto" src="{{photo}}">
        <h2 class="title">{{title}}</h2>
        <p id="showSummary">{{summary}}</span>
        <p class="showDate">{{showDate}}</p>
        <div id="showDescription">
            {{{description}}}
        </div>
    {{ else }}
        <h2>Not found</h2>
    {{/if}}
    <div id="showPhotos">
        sub-photos
    </div>
    {{#if authorized}}
        <p>
            <a href="#" id="editShowBtn">EDIT</a>
        </p>
    {{/if}}
</div>
