<a data-date="{{URLdate}}" data-title="{{urlTitle}}" href="#" class="showPreview">
    {{#if thumb}}
        <img class="dudePreviewThumb" src="{{thumb}}" />
    {{/if}}
    <i>{{formattedDate}}</i>
    <br>
    {{dude}}
    <br>
    {{greeting}}
</a>