<div id="terrain_black"></div>
<div id="main" class="visible">
    <div id="dude-container">
        {{#if title}}
            {{URLdate}}
            <h2>{{title}}</h2>
            <h3>{{summary}}</h3>
            {{#if photo }}
                <img id="mainShowPhoto" src="{{photo}}">
            {{ else }}
                no photo
            {{/if}}
        {{ else }}
            <h1>Not found</h1>
        {{/if}}
        <div id="dudePhotos">
            sub-photos
        </div>
        {{#if authorized}}
            <p>
                <a href="#" id="editDudeBtn">EDIT</a>
            </p>
        {{/if}}
    </div>
</div>